<!-- Who is it for -->
<section class="py-20 px-6 bg-gray-100 textured-section">
    <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-3xl font-bold mb-6 text-purple-700">Designed for ambitious Startups and SMBs</h2>
    <p class="text-lg text-gray-600 mb-8">
        We bring you the best of the Modern Data Stack and we manage it for you.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-left">
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ 300+  connectors</h3>
        <p>Easily collect data from your apps & database.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ AI powered dashboard & notebook</h3>
        <p>Analyse your data directly in Telary.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ 100% Open Source</h3>
        <p>Zero proprietary dependencies, you keep control.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ API & Reverse ETL ready</h3>
        <p>Easily connect Telary to other applications.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Fully managed services</h3>
        <p>We look after your data, and host them wherever you want.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Scalable platform</h3>
        <p>Scale up to the terabyte scale and keep costs under control.</p>
        </div>
        </a>
    </div>
    <a href="usecases" class="mt-8 inline-block bg-purple-700 text-white px-6 py-3 rounded-full text-lg font-semibold hover:bg-purple-700 transition">
        Schedule a demo
    </a>
    </div>
</section>