<!-- Who is it for -->
<section class="py-20 px-6 bg-gray-100 textured-section">
    <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-3xl font-bold mb-6 text-purple-700">Designed for ambitious startups and SMEs</h2>
    <p class="text-lg text-gray-600 mb-8">
        Our platform is designed for companies that want to leverage their data without hiring a dedicated team.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-left">
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Data integration</h3>
        <p>Connect your CRM, ERP, marketing tools, and internal databases. 300+ connectors available.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Reporting & automation</h3>
        <p>Use your data in dashaboards, BI tools, MCP or send them to any API.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Zero proprietary dependencies</h3>
        <p>100% open source, no black boxes, you keep control.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Fully managed</h3>
        <p>We take care of your data pipelines ourselves.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Hosting in France</h3>
        <p>Your data is hosted in France and Europe, in compliance with GDPR.</p>
        </div>
        </a>
        <a href="usecases">
        <div class="bg-white p-6 rounded-xl shadow">
        <h3 class="text-xl font-semibold mb-2">✔️ Scale up to the terabyte scale</h3>
        <p>We work together during all stage of growth of your company.</p>
        </div>
        </a>
    </div>
    <a href="usecases" class="mt-8 inline-block bg-purple-700 text-white px-6 py-3 rounded-full text-lg font-semibold hover:bg-purple-700 transition">
        Schedule a demo
    </a>
    </div>
</section>