<!-- Success Stories & Clients -->
<section class="bg-white py-20 px-6">
    <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl font-bold text-center mb-12 text-purple-700">They already trust us</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Client 1 -->
            <div class="bg-gray-50 rounded-xl shadow p-6">
            <a href="./cas/teletravail.guru">
                <h3 class="text-xl font-semibold text-purple-700 mb-2">💻 Télétravail.guru
                <p class="text-sm font-normal text-purple-700 bg-purple-100 inline-block px-2 py-1 rounded-full mt-1 mb-2">
                    View case study
                </p>
                </h3>
                
                <p class="text-gray-600 mb-2">"Telary allows us to aggregate and analyze all the job offers we collect every day."</p>
                <a href="https://teletravail.guru" target="_blank" class="text-sm text-purple-700 underline">teletravail.guru</a>
            </a>
            </div>

        <!-- Client 2 -->
        <div class="bg-gray-50 rounded-xl shadow p-6">
            <a href="./cas/joezz.com">
            <h3 class="text-xl font-semibold text-purple-700 mb-2">🚀 Joezz
                <p class="text-sm font-normal text-purple-700 bg-purple-100 inline-block px-2 py-1 rounded-full mt-1 mb-2">
                View case study
                </p>
            </h3>
            
            <p class="text-gray-600 mb-2">"Telary deployed the Essential version of the data platform to enable Joezz to ingest 15 million products every day"</p>
            <a href="https://www.joezz.com" target="_blank" class="text-sm text-purple-700 underline">joezz.com</a>
            </a>
        </div>

        <!-- Client 3 -->
        <div class="bg-gray-50 rounded-xl shadow p-6">
            <a href="./cas/researca.com">
            <h3 class="text-xl font-semibold text-purple-700 mb-2">📰 Researca
                <p class="text-sm font-normal text-purple-700 bg-purple-100 inline-block px-2 py-1 rounded-full mt-1 mb-2">
                View case study
                </p>
            </h3>
            
            <p class="text-gray-600 mb-2">"Throughout the day, Researca ingests hundreds of thousands of press articles and stores them in a Telary data platform."</p>
            <a href="https://researca.com" target="_blank" class="text-sm text-purple-700 underline">researca.com</a>
            </a>
        </div>
        </div>
    </div>
</section>