.blog-posts {
    margin: 20px 0;
}

.blog-posts h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.blog-posts ul {
    list-style-type: none;
    padding: 0;
}

.blog-posts li {
    margin-bottom: 20px;
}

.blog-posts a {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.blog-posts p {
    color: #666;
}


.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

article h1 {
    font-size: 2.5em;
}

article h2 {
    font-size: 2em;
} 

article p {
    line-height: 1.8;
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

article blockquote {
    font-style: italic;
    color: #666;
    border-left: 4px solid #ddd;
    padding-left: 15px;
    margin: 20px 0;
}

article ul, article ol {
    margin: 20px 0;
    padding-left: 40px;
}

article ul li, article ol li {
    margin-bottom: 10px;
}

article a {
    color: #6b46c1;
    text-decoration: underline;
}

article a:hover {
    color: #4c2882;
    text-decoration: none;
}

article code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
}

article pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95em;
    margin: 20px 0;
}

article table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    color: #333;
}

article table th, article table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

article table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

article table tr:nth-child(even) {
    background-color: #f9f9f9;
}

article table tr:hover {
    background-color: #f1f1f1;
}

#toc {
    background-color: #f9f9f9;
    border-radius: 5px;
}

#toc h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#toc-content {
    list-style: disc; /* Add list markers */
    padding-left: 20px; /* Indent for better readability */
}

#toc-content li {
    margin-bottom: 5px; /* Add spacing between list items */
}

.node-name--H2 {
    margin-left: 20px; /* Indent H2 items */
    list-style-type: circle; /* Use a different marker for H2 */
}

.node-name--H3 {
    margin-left: 40px; /* Indent H3 items */
    list-style-type: square; /* Use a different marker for H3 */
}

#toc-content a {
    text-decoration: none;
    color: #333;
}

#toc-content a:hover {
    text-decoration: underline;
}