<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{{ '/assets/img/favicon.png' | relative_url }}" type="image/png" />
    <link rel="stylesheet" href="/assets/css/style_blog.css">
    <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="65f5dcd8-b94c-4d82-aa34-6bc36f99c13f" async>
    </script>
    <style>
    .text-purple-700 {
      color: #5238a4ff !important;
    }

    .bg-purple-700 {
      background-color: #5238a4ff !important;
    }

    .border-purple-700 {
      border-color: #5238a4ff !important;
    }
    </style>
</head>

<body>
    {% include navbar.html %}
    <header class="bg-purple-700 text-white py-6 text-center">
        <h1 class="text-4xl font-bold">{{page.title}}</h1>
    </header>
    <main class="main-content-wrapper">
        <div class="content-with-toc">
            <!-- Article Section -->
            <article class="content-container">
                <p class="article-date">{{ page.date | date: "%B %d, %Y" }}</p>
                <div class="">
                    {{ content }}
                </div>
            </article>

            <!-- Table of Contents Section - Right Side -->
            {% unless page.hide_toc %}
            <aside class="toc-wrapper">
                <nav id="toc" class="toc-sticky">
                    <h2 class="toc-title">Contents</h2>
                    <div id="toc-content"></div>
                </nav>
            </aside>
            {% endunless %}
        </div>
    </main>


    <!-- Include tocbot script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.0/tocbot.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            tocbot.init({
                // Where to render the table of contents.
                tocSelector: '#toc-content',
                // Where to grab the headings to build the table of contents.
                contentSelector: 'article',
                // Which headings to grab inside of the contentSelector element.
                headingSelector: 'h1, h2, h3',
                // For smooth scrolling
                scrollSmooth: true,
            });
        });
    </script>
    {% include footer.html %}
</body>

</html>